$brightness-step: 10%;
$dark-bg-color: #1d2021;
$dark-bg2-color: #3c3836;
$dark-fg-color: #ebdbb2;
$dark-fg-blue: #83a598;
$dark-fg-green: #b8bb26;
$dark-fg-purple: #d3869b;
$dark-fg-red: #fb4934;
$dark-fg-yellow: #fabd2f;
$light-bg-color: #f9f5d7;
$light-bg2-color: #ebdbb2;
$light-fg-color: #3c3836;
$light-fg-blue: #076678;
$light-fg-green: #79740e;
$light-fg-purple: #8f3f71;
$light-fg-red: #9d0006;
$light-fg-yellow: #b57614;

html {
    background-color: $light-bg-color;
    color: $light-fg-color;
    font-family: Hack, monospace;
}

body {
  color: $light-fg-color;
  font-family: Hack, monospace;
}

a:link {
    color: $light-fg-blue;
}

a:hover {
    color: lighten($light-fg-blue, $brightness-step);
}

a:active {
    color: darken($light-fg-blue, $brightness-step);
}

a:visited {
    color: $light-fg-purple;
}

code {
  background-color: $light-bg2-color;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
  color: $light-fg-color;
  background-color: $light-bg2-color;
}

math {
  font-weight: bold;
}

.z-control { color: $light-fg-red; }
.z-entity { color: $light-fg-yellow; }
.z-storage.z-type { color: $light-fg-red; }
.z-function-call .z-function { color: $light-fg-green; }
.z-numeric { color: $light-fg-purple; }
.z-variable { color: $light-fg-blue; }

@media (prefers-color-scheme: dark) {
    html {
	background-color: $dark-bg-color;
	color: $dark-fg-color;
    }

  body {
    color: $dark-fg-color;
  }

    a:link {
	color: $dark-fg-blue;
    }

    a:hover {
	color: lighten($dark-fg-blue, $brightness-step);
    }

    a:active {
	color: darken($dark-fg-blue, $brightness-step);
    }

    a:visited {
	color: $dark-fg-purple;
    }

  code {
    background-color: $dark-bg2-color;
  }

  input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
    color: $dark-fg-color;
    background-color: $dark-bg2-color;
  }

  .z-control { color: $dark-fg-red; }
  .z-entity { color: $dark-fg-yellow; }
  .z-storage.z-type { color: $dark-fg-red; }
  .z-function-call .z-function { color: $dark-fg-green; }
  .z-numeric { color: $dark-fg-purple; }
  .z-variable { color: $dark-fg-blue; }

  .structure-part {
    color: $dark-fg-blue;
    border-color: $dark-fg-blue;
  }

  .coverage-part {
    color: $dark-fg-red;
    border-color: $dark-fg-red;
  }

  .coverage-part--present {
    color: $dark-fg-green;
    border-color: $dark-fg-green;
  }

  .alphabet-input__text {
    border-color: $dark-fg-blue;
  }
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  display: inline;
}

.structure-part {
  display: inline;
  color: $light-fg-blue;
  border: $light-fg-blue solid 0.1em;
  border-radius: 0.25em;
  margin-left: 0.05em;
  margin-right: 0.05em;
  padding-left: 0.05em;
  padding-right: 0.05em;
}

.coverage-part {
  display: inline;
  color: $light-fg-red;
  border: $light-fg-red solid 0.1em;
  border-radius: 0.25em;
  margin-left: 0.05em;
  margin-right: 0.05em;
  padding-left: 0.05em;
  padding-right: 0.05em;
}

.coverage-part--present {
  color: $light-fg-green;
  border-color: $light-fg-green;
}

.alphabet-input {
  display: flex;
  flex-wrap: wrap;
}

.alphabet-input__item {
  display: inline;
}

.alphabet-input__delete {
  margin-left: 0.33em;
  margin-right: 1em;
}

.alphabet-input__text {
  display: inline;
  border: $light-fg-blue solid 0.1em;
  border-radius: 0.25em;
  padding-left: 0.05em;
  padding-right: 0.05em;
}
