{% extends "base.html" %}

{% block content %}
<h1 class="title">
  I'm Curtis Hollibaugh.
</h1>
<p>
  I'm a software developer. I like cooking, comics, and tabletop games.
</p>
<h2>Recent Posts</h2>
<ul class="titleList">
  {% set all_pages = [] %}
  {% for section_path in section.subsections  %}
  {% set s = get_section(path=section_path) %}
  {% set_global all_pages = all_pages | concat(with=s.pages) %}
  {% endfor %}
  {% for page in all_pages | sort(attribute="date") | reverse %}
  <li>
    <a href="{{ page.permalink | safe }}">{{ page.date }} - {{ page.title }}</a>
    <br />
    {{ page.description }}
  </li>
  {% endfor  %}
</ul>
{% endblock content %}
